<h1>Ingrese el producto</h1>
<form class="prod-form" id="add"method="POST">
    <div class="d-flex flex-column align-items-center">
        <input type="text" name="product" class="form-control" placeholder="Producto" style="margin-bottom: 10px;">
        <input type="number" name="price" class="form-control" placeholder="Precio" style="margin-bottom: 10px;">
        <input type="url" name="foto" class="form-control" placeholder="Foto" style="margin-bottom: 10px;">
        <button type="submit" class="btn btn-primary">Ingresar producto</button>
    </div>
</form>